# Build output
dist/
*.js
!jest.config.js

# Yarn
.yarn/cache
.yarn/install-state.gz

# Node
node_modules/

# Playwright
/playwright/.auth/
playwright-report/
test-results/

# Environment
.env

# Output
output/
downloads/

# IDE
.DS_Store
.idea/
.vscode/
*.swp

# ESLint
!eslint.config.mjs
